
<div class="flex h-screen">
  
  <div [ngClass]="{'w-1/6': isSidePanelOpen, 'w-12': !isSidePanelOpen}" class="transition-all duration-900 ease-in-out bg-white text-white p-4 overflow-y-auto shadow-lg n">
        <div class="py-4">

          <h5 id="drawer-navigation-label" *ngIf="isSidePanelOpen" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400 mt-3 mb-4">Menu</h5>
          <ul class="space-y-2 font-medium" [ngClass]="{'mt-16': !isSidePanelOpen}"> 
              <li>
                <button (click)="setActiveSection('dashboard')" data-drawer-hide="drawer-navigation" 
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <img src="../../../../assets/icons/dashboard.svg" class="h-4" alt="Flowbite Logo" />
                    <span class="flex-1 ms-3 whitespace-nowrap">Dashboard</span>
                </button>
              </li> 

              <li>
                <button (click)="setActiveSection('createvenue')" data-drawer-hide="drawer-navigation" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="../../../../assets/icons/createvenue.svg" class="h-4" alt="Flowbite Logo" />
                  <span class="flex-1 ms-3 whitespace-nowrap">Create Venue</span>
                </button>
            </li>

            <li>
                <button (click)="setActiveSection('editvenue')" data-drawer-hide="drawer-navigation" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="../../../../assets/icons/createvenue.svg" class="h-4" alt="Flowbite Logo" />
                  <span class="flex-1 ms-3 whitespace-nowrap">View/ Edit Venue</span>
                </button>
            </li>

            <li>
                <button (click)="setActiveSection('slotbooking')" data-drawer-hide="drawer-navigation" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="../../../../assets/icons/slotbooking.svg" class="h-4" alt="Flowbite Logo" />
                  <span class="flex-1 ms-3 whitespace-nowrap">Slot Booking</span>
                </button>
            </li>

            <li>
                <button (click)="setActiveSection('report')" data-drawer-hide="drawer-navigation" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="../../../../assets/icons/report.svg" class="h-4" alt="Flowbite Logo" />
                  <span class="flex-1 ms-3 whitespace-nowrap">Reports</span>
                </button>
            </li>

            <li>
                <button (click)="setActiveSection('bulkbooking')" data-drawer-hide="drawer-navigation" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="../../../../assets/icons/slotbooking.svg" class="h-4" alt="Flowbite Logo" />
                  <span class="flex-1 ms-3 whitespace-nowrap">Bulk Booking</span>
                </button>
            </li>

          </ul>
        </div>
  </div>

  
  <div [ngClass]="{'w-full': !isSidePanelOpen, 'w-5/6': isSidePanelOpen}" class="bg-gray-100 p-1 overflow-y-auto relative">
  
        <nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-lg p-2 ">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

                <button 
                    class="font-medium rounded-lg  px-5 py-2.5 flex items-center space-x-3 " 
                    type="button" 
                    (click)="toggleSidePanel()">
                    <img src="../../../../assets/logo/burger.svg" class="h-5" alt="Flowbite Logo" />
                </button>
        
                <div class="hidden md:flex flex-grow items-center justify-center md:order-1">
                    <p class="text-[32px] sm:text-lg text-center">
                        Welcome to <span class="text-[#5a6acf]" style="font-weight: 500;">Kristu Jayanti ARENA</span>
                    </p>
                </div>
        
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <img src="../../../../assets/images/applogo.png" class="h-10 sm:h-6 md:h-10" alt="Flowbite Logo" />
                </div>
        
            </div>
        </nav>

        <div *ngIf="activeSection === 'dashboard'" class="flex justify-center mt-8 gap-8">  

            <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
              <div class="flex justify-between">
                <div>
                  <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">32.4k</h5>
                  <p class="text-base font-normal text-gray-500 dark:text-gray-400">Users this week</p>
                </div>
                <div
                  class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">
                  12%
                  <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
                  </svg>
                </div>
              </div>
              <div id="area-chart"></div>
              <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
                <div class="flex justify-between items-center pt-5">
                  <!-- Button -->
                  <button
                    id="dropdownDefaultButton"
                    data-dropdown-toggle="lastDaysdropdown"
                    data-dropdown-placement="bottom"
                    class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                    type="button">
                    Last 7 days
                    <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
                        </li>
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
                        </li>
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
                        </li>
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
                        </li>
                        <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a>
                        </li>
                      </ul>
                  </div>
                  <a
                    href="#"
                    class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
                    Users Report
                    <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>  

            <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                <div class="flex justify-between mb-3">
                  <div class="flex items-center">
                    <div class="flex justify-center items-center">
                      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">Your team's progress</h5>
                      <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                      </svg>
                      <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                          <div class="p-3 space-y-2">
                              <h3 class="font-semibold text-gray-900 dark:text-white">Activity growth - Incremental</h3>
                              <p>Report helps navigate cumulative growth of community activities. Ideally, the chart should have a growing trend, as stagnating chart signifies a significant decrease of community activity.</p>
                              <h3 class="font-semibold text-gray-900 dark:text-white">Calculation</h3>
                              <p>For each date bucket, the all-time volume of activities is calculated. This means that activities in period n contain all activities up to period n, plus the activities generated by your community in period.</p>
                              <a href="#" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read more <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg></a>
                          </div>
                          <div data-popper-arrow></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                  <div class="grid grid-cols-3 gap-3 mb-2">
                    <dl class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                      <dt class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1">12</dt>
                      <dd class="text-orange-600 dark:text-orange-300 text-sm font-medium">To do</dd>
                    </dl>
                    <dl class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                      <dt class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1">23</dt>
                      <dd class="text-teal-600 dark:text-teal-300 text-sm font-medium">In progress</dd>
                    </dl>
                    <dl class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                      <dt class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1">64</dt>
                      <dd class="text-blue-600 dark:text-blue-300 text-sm font-medium">Done</dd>
                    </dl>
                  </div>
                  <button data-collapse-toggle="more-details" type="button" class="hover:underline text-xs text-gray-500 dark:text-gray-400 font-medium inline-flex items-center">Show more details <svg class="w-2 h-2 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                  </button>
                  <div id="more-details" class="border-gray-200 border-t dark:border-gray-600 pt-3 mt-3 space-y-2 hidden">
                    <dl class="flex items-center justify-between">
                      <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal">Average task completion rate:</dt>
                      <dd class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
                        </svg> 57%
                      </dd>
                    </dl>
                    <dl class="flex items-center justify-between">
                      <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal">Days until sprint ends:</dt>
                      <dd class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-gray-600 dark:text-gray-300">13 days</dd>
                    </dl>
                    <dl class="flex items-center justify-between">
                      <dt class="text-gray-500 dark:text-gray-400 text-sm font-normal">Next meeting:</dt>
                      <dd class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-gray-600 dark:text-gray-300">Thursday</dd>
                    </dl>
                  </div>
                </div>

                <!-- Radial Chart -->
                <div class="py-6" id="radial-chart"></div>

                <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
                  <div class="flex justify-between items-center pt-5">
                    <!-- Button -->
                    <button
                      id="dropdownDefaultButton"
                      data-dropdown-toggle="lastDaysdropdown"
                      data-dropdown-placement="bottom"
                      class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                      type="button">
                      Last 7 days
                      <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                      </svg>
                    </button>
                    <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a>
                          </li>
                        </ul>
                    </div>
                    <a
                      href="#"
                      class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
                      Progress report
                      <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                      </svg>
                    </a>
                  </div>
                </div>
            </div>

            <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
          
          <div class="flex justify-between mb-3">
              <div class="flex justify-center items-center">
                  <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">Website traffic</h5>
                  <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                  </svg>
                  <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                      <div class="p-3 space-y-2">
                          <h3 class="font-semibold text-gray-900 dark:text-white">Activity growth - Incremental</h3>
                          <p>Report helps navigate cumulative growth of community activities. Ideally, the chart should have a growing trend, as stagnating chart signifies a significant decrease of community activity.</p>
                          <h3 class="font-semibold text-gray-900 dark:text-white">Calculation</h3>
                          <p>For each date bucket, the all-time volume of activities is calculated. This means that activities in period n contain all activities up to period n, plus the activities generated by your community in period.</p>
                          <a href="#" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read more <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg></a>
                      </div>
                      <div data-popper-arrow></div>
                  </div>
                </div>
              <div>
                <button type="button" data-tooltip-target="data-tooltip" data-tooltip-placement="bottom" class="hidden sm:inline-flex items-center justify-center text-gray-500 w-8 h-8 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm"><svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"/>
          </svg><span class="sr-only">Download data</span>
                </button>
                <div id="data-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Download CSV
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
              </div>
          </div>

          <div>
            <div class="flex" id="devices">
              <div class="flex items-center me-4">
                  <input id="desktop" type="checkbox" value="desktop" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="desktop" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Desktop</label>
              </div>
              <div class="flex items-center me-4">
                  <input id="tablet" type="checkbox" value="tablet" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="tablet" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tablet</label>
              </div>
              <div class="flex items-center me-4">
                  <input id="mobile" type="checkbox" value="mobile" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="mobile" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mobile</label>
              </div>
            </div>
          </div>

          <!-- Donut Chart -->
          <div class="py-6" id="donut-chart"></div>

          <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
            <div class="flex justify-between items-center pt-5">
              <!-- Button -->
              <button
                id="dropdownDefaultButton"
                data-dropdown-toggle="lastDaysdropdown"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button">
                Last 7 days
                <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a>
                    </li>
                  </ul>
              </div>
              <a
                href="#"
                class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
                Traffic analysis
                <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
              </a>
            </div>
          </div>
           </div>

        </div>

        <div *ngIf="activeSection === 'createvenue'" class="flex justify-center mt-12 " >
          
              <div class="w-[80%] p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-5 text-2xl font-bold tracking-tight text-[#6A0DAD] dark:text-white">Create a Venue</h5>
            
                <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-1 gap-4 p-4">
                  <div class="mb-2">
                    <label for="venue-id" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Venue ID</label>
                    <input id="venue-id" [(ngModel)]="venue.venueId" name="venueId" class="mt-1 block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600 placeholder:text-[13px]" placeholder="Eg. M2">
                  </div>
                  
                  <div class="mb-2">
                    <label for="venue-name" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Venue Name</label>
                    <input id="venue-name" [(ngModel)]="venue.venueName" name="venueName" type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600 placeholder:text-[13px]" placeholder="Eg. Auditorium M2">
                  </div>

                  <div class="mb-2">
                      <label for="venue-block" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Block </label>
                      <input id="venue-block" [(ngModel)]="venue.block" name="block" type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600 placeholder:text-[13px]" placeholder="Enter block ">
                    </div>

                    <div class="mb-2">
                      <label for="seating-capacity" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Seating Capacity </label>
                      <input id="seating-capacity" [(ngModel)]="venue.seatingCapacity" name="seatingCapacity" type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600 placeholder:text-[13px]" placeholder="Eg. 100 ">
                    </div>  

                    <div class="mb-2">
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">A/C </label>
                      <div class="flex items-center space-x-4">
                          <div class="flex items-center w-1/2 border border-gray-200 rounded-lg dark:border-gray-700 ">
                            <input id="ac" [(ngModel)]="venue.ac" name="ac" type="radio" value="A/C" class="ml-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="ac" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">A/C</label>
                          </div>
                  
                          <div class="flex items-center w-1/2 border border-gray-200 rounded-lg dark:border-gray-700">
                            <input id="noac" [(ngModel)]="venue.ac" name="ac" type="radio" value="Non A/C" checked class="ml-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="noac" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Non A/C</label>
                          </div>
                      </div>
                  </div>

                  <div class="mb-2">
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">Permission for Auditorium </label>
                      <div class="flex items-center space-x-4">
                        <div class="flex items-center w-1/2 border border-gray-200 rounded-lg dark:border-gray-700 ">
                          <input id="intreval" [(ngModel)]="venue.permission" name="Intreval" type="radio" value="Yes" class="ml-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                          <label for="intreval" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Required</label>
                        </div>
                
                        <div class="flex items-center w-1/2 border border-gray-200 rounded-lg dark:border-gray-700">
                          <input id="nointreval" [(ngModel)]="venue.permission" name="Intreval" type="radio" value="No" checked class="ml-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                          <label for="nointreval" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Not Required</label>
                        </div>
                    </div>
                  </div>

                  <div class="mb-2">
                      <label for="venue-location" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Venue Location  </label>
                      <input id="venue-location" [(ngModel)]="venue.location" name="location" type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600 placeholder:text-[13px]" placeholder="Eg. Main Block 3rd Floor">
                    </div>

                    <div class="mb-2">
                      <label for="venue-type" class="block text-sm font-medium text-gray-700 dark:text-gray-400 mb-1">Choose the type of Venue  </label>
                      <button 
                        id="dropdownDefaultButton" 
                        class="text-gray-500 bg-white font-medium text-sm px-5 py-2.5 border-2 w-full text-center inline-flex items-center justify-between rounded-lg " 
                        type="button" 
                        (click)="setDropdown()">
                        {{buttonName}}
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                      </button>

                      <div 
                      *ngIf="isDropdownOpen"  
                      class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 mt-2">
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                      <li>
                        <a (click)="setActiveItem('All Venue'); setDropdown(); setButtonName('All Venue')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All Venue</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Auditorium'); setDropdown(); setButtonName('Auditorium')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Auditorium</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Conference Hall'); setDropdown(); setButtonName('Conference Hall')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Conference Hall</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Mini Auditorium'); setDropdown(); setButtonName('Mini Auditorium')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mini Auditorium</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Panel Room'); setDropdown(); setButtonName('Panel Room')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Panel Room</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Quadrangle/Turf'); setDropdown(); setButtonName('Quadrangle/Turf')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Quadrangle/Turf</a>
                      </li>
                    </ul>
                    </div>
                    </div> 

                    <div class="mb-2">
                      <label for="image-upload" class="block text-sm font-medium text-gray-700 dark:text-gray-400 mb-4">Upload Picture</label>
                      
                      <!-- Card Container -->
                      <div class="w-full px-3 border border-gray-300 rounded-lg bg-white dark:bg-gray-800 dark:border-gray-700">
                          <div class="flex items-center justify-center w-full">
                              <!-- Logo Section (30%) -->
                              <div class="w-[30%] flex justify-center">
                                  <svg class="w-12 h-12 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                  </svg>
                              </div>
                              <!-- Text Section (70%) -->
                              <div class="w-[70%] flex flex-col items-center justify-center pt-3 pb-3 h-[120px]">
                                  <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                      <input id="dropzone-file" type="file" class="hidden" />
                                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">Select a file or drag and drop here</p>
                                  </label>
                              </div>
                          </div>
                      </div>
                    </div>
                  
                  

                    <div class="mb-2">
                      <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" value="" class="sr-only peer">
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Interval Timings</span>
                        <div class="relative w-11 h-6 ml-2 bg-gray-200 peer-focus:outline-none rounded-full peer  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                      </label>
                      <p class="ml-3 text-gray-500 text-sm mt-2 ">Toggle this if the venue timings is in break time (Eg. Qudrangle)</p>
                    </div> 

                    <hr class="h-px my-6 bg-black border-0 col-span-2">

                    <button type="button" (click)="onSubmit(); openCreateVenueModal()" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-0 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 col-span-2 mx-auto w-auto">
                      Add Venue 
                    </button>                  

                </div>
              </div>
        </div>

        <div *ngIf="activeSection === 'editvenue'" >
        </div>

        <div *ngIf="activeSection === 'slotbooking'" >

          <div class="flex justify-center mt-12">
            <div class="w-[500px] bg-white border border-gray-200 rounded-lg shadow-lg p-6 py-8">
              <p class="mb-4 text-[#5a6acf] text-sm font-semibold flex justify-center">Check Availability</p>
              <div class="flex gap-2">
        
                <!-- Dropdown Button Section -->
                <div class="w-2/5 text-left">
                  <button 
                    id="dropdownDefaultButton" 
                    class="text-black bg-white font-medium text-sm px-5 py-2.5 border-2 w-full text-center inline-flex items-center justify-between rounded-lg h-[40px]" 
                    type="button" 
                    (click)="setDropdown()"
                    style="min-width: 150px; height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: flex; align-items: center;">
                    <!-- Display button name, truncating if it's too long -->
                    <span class="flex-1 overflow-hidden text-ellipsis">{{buttonName}}</span>
                    <svg *ngIf="isDropdownOpen === false" class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
                   </svg>

                   <svg *ngIf="isDropdownOpen === true" class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"/>
                    </svg>
                  </button>
                
                  <!-- Dropdown Menu -->
                  <div *ngIf="isDropdownOpen" class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 mt-2" style="min-width: 150px;">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                      <li>
                        <a (click)="setActiveItem('All Venue'); setDropdown(); setButtonName('All Venue')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All Venue</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Auditorium'); setDropdown(); setButtonName('Auditorium')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Auditorium</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Conference Hall'); setDropdown(); setButtonName('Conference Hall')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Conference Hall</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Mini Auditorium'); setDropdown(); setButtonName('Mini Auditorium')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mini Auditorium</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Panel Room'); setDropdown(); setButtonName('Panel Room')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Panel Room</a>
                      </li>
                      <li>
                        <a (click)="setActiveItem('Quadrangle/Turf'); setDropdown(); setButtonName('Quadrangle/Turf')" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Quadrangle/Turf</a>
                      </li>
                    </ul>
                  </div>
                </div>
                
        
                <!-- Date Picker Section -->
                <div class="w-2/5 text-left">
                  <div class="relative flex-1">
                    <div class="relative max-w-sm">
                      <input 
                        id="date" 
                        type="date" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5" 
                        placeholder="Select date" 
                        (change)="onDateChange($event)"
                        style="height: 40px;" /> <!-- Fixed height -->
                    </div>
                  </div>
                </div>
        
                <!-- Search Button Section -->
                <div class="w-1/7 ml-auto">
                  <button 
                    type="button" 
                    class="flex items-center justify-center w-12 h-10 bg-[#5a6acf] text-white rounded-lg "
                    style="height: 40px; width: 50px;"> <!-- Fixed size for button -->
                    <svg class="w-4 h-4 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                    </svg>
                  </button>
                </div>
        
              </div>
            </div>
          </div>

          <div class="mt-4 max-w-screen-xl mx-auto px-2 mb-2 ">
            <div class="mb-1 flex justify-between items-center">
              <h3 class="text-xl font-bold text-gray-800 dark:text-white text-left">{{activeItem}}</h3>
              <div class="flex items-center space-x-2">
                <!-- Conditionally render the image only if there's a selected date -->
                <img *ngIf="selectedDate" src="../../../../assets/icons/Vector.svg" alt="Icon" />
            
                <!-- Display the formatted selected date -->
                <p *ngIf="selectedDate" class="text-sm">{{ selectedDate | date: 'd MMM yyyy' }}</p>
              </div>
            </div>
          
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 p-6">
            
            <app-card 
                *ngFor="let card of cards; let i = index"
                [heading]="card.heading"
                [location]="card.location"
                [capacity]="card.capacity"
                [acstatus]="card.acstatus"
                [imagepath]="card.imagepath"
                [address]="card.address"
                [buttons]="card.buttons"
                [selectedButtons]="card.selectedButtons"  
                (buttonSelect)="onButtonSelect(i, $event)"> 
          </app-card>
      
          </div>

        </div>

        </div>

        <div *ngIf="activeSection === 'report'" class=" flex justify-center mt-16" >

          <ag-grid-angular
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
          [rowSelection]="rowSelection"
          [domLayout]="domLayout"
          class="ag-theme-alpine"
          style="width: 70%; height: 800px;"
          (gridReady)="onGridReady($event)"
          (selectionChanged)="onSelectionChanged()"
          (paginationChanged)="onPaginationChanged()">
        </ag-grid-angular>
        <div class="grid-footer">
          <button (click)="downloadCSV()">Download CSV</button>
        </div>

        </div>

        <div *ngIf="activeSection === 'bulkbooking'" class="flex justify-center mt-6">
          <app-bulk-booking></app-bulk-booking>
        </div>


            <div *ngIf="createVenueModal" 
            class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-70">>
              <div class="relative p-4 w-full max-w-lg max-h-full"> 
              
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                
                  <div class="p-4 md:p-5 space-y-4 flex flex-col items-center"> 
                    <img src="../../../assets/images/Sucess.png" alt="Success" class="mb-4"> 
                    
                    <div class="text-center"> 
                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Venue Created Successfully !
                      </h3>
                      <p class="text-sm text-gray-600 dark:text-gray-300">
                        Auditorium A1 | 2nd Floor, Admin Block has been created!
                      </p>
                    </div>
                  </div>
            
                
                  <div class="flex justify-center items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button (click)="closeCreateVenueModal()" data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Done
                    </button>
                  </div>

                </div>
              </div>
            </div>

  </div>

</div>
