


  <div class="mt-24 max-w-screen-xl mx-auto px-2">
   
    <div class="mb-6 mt-12 flex justify-between items-center">
       <!-- Heading -->
      <h3 class="text-xl font-bold text-gray-800 dark:text-white text-left">All Bookings</h3>
      <!-- Search -->
      <div class="relative max-w-sm">
        <div class="flex items-center justify-center p-4">
            


            <form class="max-w-md mx-auto">   
              <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </div>
                  <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-black rounded-lg bg-white " placeholder="Search "  />
              </div>
            </form>

            <!-- Dropdown menu -->
            <button 
            id="dropdownDefaultButton" 
            class="text-black bg-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" 
            type="button" 
            (click)="setFilterDropdown(!isFilterDropdownOpen)">
            {{filterItem}}
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>

          <div 
          *ngIf="isFilterDropdownOpen"  
          class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 mt-2">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a (click)="setFilterItem('All'); setFilterDropdown(false)" class="block px-4 py-2 hover:bg-gray-100 "> All</a>
            </li>
            <li>
              <a (click)="setFilterItem('Sucessfull'); setFilterDropdown(false)" class="block px-4 py-2 hover:bg-gray-100 ">Sucessfull</a>
            </li>
            <li>
              <a (click)="setFilterItem('Pending '); setFilterDropdown(false)" class="block px-4 py-2 hover:bg-gray-100 "> Pending</a>
            </li>
            <li>
              <a (click)="setFilterItem('Cancelled '); setFilterDropdown(false)" class="block px-4 py-2 hover:bg-gray-100 "> Cancelled</a>
            </li>

          </ul>
        </div>

          </div>
      </div>
    </div>
    
  
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-8 mb-20">
      <app-my-booking *ngFor="let booking of paginatedBookings" 
         [bookingid]="booking.bookingid"
         [eventname]="booking.eventname"
         [address]="booking.address"
         [venue]="booking.venue"
         [status]="booking.status"></app-my-booking>
    </div>
    
    <!-- Paginator -->
    <div class="flex items-center justify-between w-full ">

      <div *ngIf="!isMobileScreen()">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing 
        <span class="font-semibold text-gray-900 dark:text-white">{{ (currentPage - 1) * itemsPerPage + 1 }}</span> 
        to 
        <span class="font-semibold text-gray-900 dark:text-white">{{ currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage }}</span> 
        of 
        <span class="font-semibold text-gray-900 dark:text-white">{{ totalItems }}</span> Entries
      </span>
      </div>
     
      <div [ngClass]="{'justify-center w-full':isMobileScreen()}" class="inline-flex">
        <nav aria-label="Page navigation example">
          <ul class="inline-flex -space-x-px text-sm">
            <!-- Previous Button -->
            <li>
              <a (click)="prevPage()" 
                 [ngClass]="{'cursor-not-allowed': currentPage === 1}" 
                 class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Previous
              </a>
            </li>
            
            <!-- Page Number Buttons -->
            <li *ngFor="let page of pageNumbers" [ngClass]="{'font-semibold': currentPage === page}">
              <a (click)="goToPage(page)" 
                 [ngClass]="{'text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white': currentPage === page, 
                            'text-gray-500 bg-white border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white': currentPage !== page}"
                 class="flex items-center justify-center px-3 h-8 leading-tight">
                {{ page }}
              </a>
            </li>
            
            <!-- Next Button -->
            <li>
              <a (click)="nextPage()" 
                 [ngClass]="{'cursor-not-allowed': currentPage === totalPages}" 
                 class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
    
    
  </div>
  