<div class="bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
   
    <!-- Image -->
    <div class="p-4">
        <img class="rounded-lg w-full object-cover shadow-lg w-[100%] h-[230px]" src={{imagepath}} alt="" />
    </div>

    <!-- Heading and descrption -->
    <div class="p-6 flex justify-between items-center">
        <!-- Left Side: Name and Details -->
        <div class="flex flex-col w-2/3">
            <h5 class="mb-0 text-[23.13px] font-bold tracking-tight text-gray-900 dark:text-white">{{heading}}</h5>
            <p class="mb-2 font-normal text-[15.4px] dark:text-gray-400">{{location}}</p>
        </div>
        
        <!-- Right Side: Symbols or Icons -->
        <div class="flex space-x-4">
            <!-- First Item -->
            <div class="flex flex-col items-center">
                <!-- SVG Icon -->
                <svg class="w-6 h-6 text-orange-500 dark:text-orange-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                </svg>
                <!-- Text below the SVG -->
                <span class="text-xs font-medium text-orange-500 dark:text-orange-400">{{capacity}}</span>
            </div>
        
            <!-- Second Item -->
            <div class="flex flex-col items-center">
                <!-- SVG Icon with conditional color based on acstatus -->
                <img 
                    src="../../../assets/logo/Union.svg" 
                    alt="Your Icon" 
                    [ngStyle]="{'filter': acstatus === 'AC' ? 'hue-rotate(32deg) saturate(2)' : 'grayscale(1)'}" 
                    class="w-6 h-6">
              
                <!-- Text below the SVG with conditional color based on acstatus -->
                <span 
                  class="text-xs font-medium" 
                  [ngClass]="acstatus === 'AC' ? 'text-blue-500 dark:text-blue-400' : 'text-gray-400 dark:text-gray-500'">
                  {{ acstatus }}
                </span>
              </div>
              
        </div>
    </div>
    
    <!-- App Badge -->
    <div class="pt-0 p-2">
        <!-- Flex container to hold the buttons, ensuring wrapping works and the buttons are confined to 3 per row -->
        <div class="flex flex-wrap justify-center gap-2 w-full">
            <button *ngFor="let button of buttons"
              [ngClass]="{
                'text-green-500 border border-green-500': !isSelected(button),
                'text-white bg-green-500': isSelected(button)
              }"
              (click)="onButtonSelect(button)" 
              type="button"
              class="focus:outline-none font-medium rounded text-sm p-1 text-center w-1/3 max-w-[calc(30%-0.5rem)]">
        {{ button }}
      </button>
        </div>
    </div>
    
    <!-- location and book button -->
    <div class="p-2 flex justify-between items-center mt-6">
        <!-- Left Side -->
        <div class="flex flex-col w-2/3">
            <div class="flex items-center">
                <svg class="w-5 h-5 text-gray-800 dark:text-white mr-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
                </svg>
                <p class="mb-0 font-normal text-[13px] dark:text-gray-400">{{address}}</p>
            </div>
            <a  class="ml-4 font-normal text-xs text-blue-500 hover:text-blue-700">View others Booking </a>
 
        </div>

        <!-- Right Side -->
        <div class="flex flex-col w-1/3 text-right">
            <button type="button" 
            (click)="openbookVenueModal()"
                    class="text-white bg-[#0284c7] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 whitespace-nowrap flex justify-center items-center"
                    data-modal-target="crud-modal" data-modal-toggle="crud-modal">
                Book Venue
            </button>
        </div>
    </div>
</div>

<!-- Dialouge Box -->
  <div *ngIf="bookVenueModal"    class="fixed inset-0 z-50 flex justify-center items-center bg-gray-900 bg-opacity-70">
      <div class="relative p-4 w-full max-w-3xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-[#f9f9f9] rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="p-4 md:p-5 border-b rounded-t dark:border-gray-600" >
                <!-- First line: Heading and Close Button -->
                <div class="flex items-center justify-between">
                <img src="../../../assets/logo/Icon.svg" alt="Logo" class="w-5 h-5 mr-2"> 
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    My Booking
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xs w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="closebookVenueModal()">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>

                <!-- Second line: Paragraph -->
                <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">
                DATE | {{heading}} | {{address}}
                </p>
                <!-- Component -->
                <div class="mt-4">
                    <app-badge [badges]="selectedButtons" badgeClass="w-1/4 text-[12px] max-w-[calc(20%-0.5rem)]"></app-badge>
                </div>
            </div>

              <!-- Modal body -->
              <form class="p-4 md:p-5 mb-8 overflow-auto max-h-screen">

                <div class="flex items-center space-x-4 mb-0">
                    <label class="w-2/5 text-black text-xs text-left ">Event Name <span class="text-red-700">*</span></label>
                    <input type="text" placeholder="Event" class="w-3/5 h-10 px-3 py-1 border border-gray-300 rounded-md text-[12px]">
                    <hr class="h-px my-8 bg-black border-0 dark:bg-gray-700">
                </div>
            
                <div class="flex items-center space-x-4 mb-0">
                    <label class="w-2/5 text-black text-xs text-left ">Resource Person / Chief Guest Name <span class="text-red-700">*</span></label>
                    <input type="text" class="w-3/5 px-3 h-10 py-1 border border-gray-300 rounded-md  text-xs" placeholder="XYZ">
                    <hr class="h-px my-8 bg-black border-0 dark:bg-gray-700">
                </div>
            
                <div class="flex items-center space-x-4 mb-0">
                    <label class="w-2/5 text-black text-xs text-left ">Department / Club / Association / Deanery / Institutional Name <span class="text-red-700">*</span></label>
                    <input type="text" class="w-3/5 px-3 h-10 py-1 border border-gray-300 rounded-md  text-xs" placeholder="CS PG">
                    <hr class="h-px my-8 bg-black border-0 dark:bg-gray-700">
                </div>

                <div class="flex items-center space-x-4 mb-0">
                    <label class="w-2/5 text-black text-xs text-left ">Fest / Conference /Meeting / Seminar /Workshop / Training Programme / FDP <span class="text-red-700">*</span></label>
                    <input type="text" class="w-3/5 h-10 px-3 py-1 border border-gray-300 rounded-md  text-xs" placeholder="CS PG">
                    <hr class="h-px my-8 bg-black border-0 dark:bg-gray-700">
                </div>

                <div class="flex items-center space-x-4 mb-2">
                    <label class="w-2/5 text-black text-xs text-left ">Additional Requirements</label>

                    <div class="flex w-3/5 flex-wrap gap-1">
                            <div class="flex items-center ps-3">
                                <input id="photography" type="checkbox" value="" name="photography" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="photography" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Photography</label>
                            </div>

                            <div class="flex items-center ps-3">
                                <input id="videography" type="checkbox" value="" name="videography" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="videography" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Videography</label>
                            </div>

                            <div class="flex items-center ps-3">
                                <input id="choir" type="checkbox" value="" name="choir" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="choir" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Choir</label>
                            </div>

                            <div class="flex items-center ps-3">
                                <input id="lamp" type="checkbox" value="" name="lamp" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="lamp" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Lamp</label>
                            </div>

                            <div class="flex items-center ps-3">
                                <input id="studentReporters" type="checkbox" value="" name="studentReporters" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="studentReporters" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Student Reporters</label>
                            </div>

                            <div class="flex  items-center ps-3">
                                <input id="whiteboard" type="checkbox" value="" name="whiteboard" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="whiteboard" class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Whiteboard</label>
                            </div>

                            <!-- ---------------sapling----------------------  -->
                           <div class="flex items-center ps-3 space-x-2">
                                
                            <input id="saplings-radio" 
                                type="checkbox" 
                                value="saplings" 
                                [(ngModel)]="saplingsSelected" 
                                (ngModelChange)="onSaplingsChange()" 
                                name="saplings-radio" 
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="saplings-radio" class="text-xs font-medium text-gray-900 dark:text-gray-300">Saplings</label>

                           
                            <div *ngIf="saplingsSelected" class="flex items-center">
                                <input type="number" 
                                    id="saplings-quantity" 
                                    [(ngModel)]="saplingsQuantity" 
                                    name="saplings-quantity" 
                                    class="ml-2 px-3 w-12 py-1 border border-gray-300 rounded-md  text-xs" 
                                    min="1" 
                                    placeholder="Enter number">
                            </div>
                        </div>
                            
                            <!-- ------------------------ Mementos -------------------------  -->
                            <div class="flex items-center ps-3 space-x-2">
                                
                                <input id="mementos-radio" 
                                    type="checkbox" 
                                    value="mementos" 
                                    [(ngModel)]="mementosSelected" 
                                    (ngModelChange)="onMementosChange()" 
                                    name="memntos-radio" 
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                                <label for="memntos-radio" class="text-xs font-medium text-gray-900 ">Mementos</label>

                                
                                <div *ngIf="mementosSelected" class="flex items-center">
                                    <input type="number" 
                                        id="memntos-quantity" 
                                        [(ngModel)]="mementosQuantity" 
                                        name="mementos-quantity" 
                                        class="ml-2 px-3 w-12 py-1 border border-gray-300 rounded-md text-xs" 
                                        min="1" 
                                        placeholder="Enter number">
                                </div>
                            </div>

                            <!-- --------------------Laptop----------------------  -->
                            <div class="flex items-center ps-3 space-x-2">
                                
                                <input id="laptop-radio" 
                                    type="checkbox" 
                                    value="laptop" 
                                    [(ngModel)]="laptopsSelected" 
                                    (ngModelChange)="onLaptopsChange()" 
                                    name="laptop-radio" 
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                                <label for="laptop-radio" class="text-xs font-medium text-gray-900 ">Laptop</label>

                                
                                <div *ngIf="laptopsSelected" class="flex items-center">
                                    <input type="number" 
                                        id="laptop-quantity" 
                                        [(ngModel)]="laptopQuantity" 
                                        name="laptop-quantity" 
                                        class="ml-2 px-3 w-12 py-1 border border-gray-300 rounded-md text-xs" 
                                        min="1" 
                                        placeholder="Enter number">
                                </div>
                            </div>

                            

                    </div>
                    
                </div>

                <div class="flex items-center space-x-4 mb-0">
                    <label class="w-2/5 text-black text-xs text-left ">Extra Requirements, if needed</label>
                    <textarea id="message" rows="6" class="w-3/5 px-3 py-1 mb-6 mt-6 border border-gray-300 rounded-md text-xs" placeholder=""></textarea>
                    <hr class="h-px my-8 bg-black border-0 dark:bg-gray-700">
                </div>

                <div class="flex items-center space-x-4 mb-2">
                     <p class="text-xs">Is the event scheduled as per the academic calendar?</p>

                    <input id="yes" type="radio" value="Yes" name="academic_calender" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                    <label for="yes" class="ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Yes</label>

                    <input checked id="no" type="radio" value="No" name="academic_calender" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                    <label for="no" class="ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">No</label>

                </div>

                <div class="flex items-center space-x-4 mb-2">
                    <p class="text-xs">Mode of Event</p>

                   <input id="offline" type="radio" value="offline" name="mode" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 ">
                   <label for="offline" class="ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Offline</label>

                   <input checked id="hybrid" type="radio" value="hybrid" name="mode" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                   <label for="hybrid" class="ms-2 text-xs font-medium text-gray-900 dark:text-gray-300">Hybrid</label>

               </div>

                <div class="flex mt-8">
                    <div class="flex-1 flex justify-center" >
                        <button type="button" (click)="closebookVenueModal()" class="py-2.5 px-5 me-2 mb-2 text-xs font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 w-full">Cancel</button>
                    </div>
                    <div class="flex-1 flex justify-center">
                        <button 
                            type="button"
                            (click)="openSucessBookingModal(); closebookVenueModal() "
                            data-modal-target="default-modal" data-modal-toggle="default-modal"
                            class="py-2.5 px-5 me-2 mb-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-blue-800 w-full">
                            Confirm
                        </button>
                    </div>
                </div>
                
            </form>
            
          </div>
      </div>
  </div> 
  
  <!-- ------------------------------- Sucess ----------------------  -->
  <div *ngIf="sucessBookingModal" 
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-70">>
    <div class="relative p-4 w-full max-w-lg max-h-full"> 
    
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
       
        <div class="p-4 md:p-5 space-y-4 flex flex-col items-center"> 
          <img src="../../../assets/images/Sucess.png" alt="Success" class="mb-4"> 
          
          <div class="text-center"> 
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
              Venue Booked Successfully !
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-300">
              Auditorium A1 | 2nd Floor, Admin Block has been booked!
            </p>
          </div>
        </div>
  
       
        <div class="flex justify-center items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button (click)="closeSucessBookingModal()" data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Done
          </button>
        </div>

      </div>
    </div>
  </div>
  
  